:root {
    --primary-color: white;
    --secondary-color: red;
    --primary-text-color: white;
    --secondary-text-color: black;
    --text-danger: grey;
    --succed: green;
}

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

body {
    color: var(--primary-color);
    height: 200vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right bottom, #ff0000, #ee241f, #dc3430, #c9413d, #b44a48, #9d4648, #864246, #6f3e42, #533034, #382226, #1f1517, #000000);
}

/*  Generique */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
}

footer p {
    color: white;
}